@media (min-width: 48em){
	.fgBaNW {
	    display: grid;
	    grid-template-columns: 24rem 1fr;
	    min-height: 100vh;
	}
	.cjWrGu {
	    width: 100%;
	}
	.bFkCVt {
	    margin: 0px;
	}
}

.cxzNhQ {
    background-color: rgb(35, 42, 51);
    min-height: 100vh;
}
.iwdBQt {
    display: grid;
    gap: 1rem 2rem;
    grid-template-areas:
        "nav logo"
        "sponsors sponsors"
        "main main"
        "footer footer";
    grid-template-rows: repeat(3, minmax(2rem, min-content)) auto;
    grid-template-columns: 2.625rem auto;
    /*min-height: 100vh;*/
    padding: 1rem;
    -webkit-box-align: center;
    align-items: center;
}
.dEPATL {
    grid-area: nav / nav / nav / nav;
    justify-self: left;
}
.bBovPm {
    position: relative;
    width: 100%;
    border: 1px solid transparent;
    padding: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    line-height: 0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(134, 151, 162);
    background-color: rgb(26, 33, 42);
}
.fFMeqz, .jJSiEB {
    vertical-align: middle;
}

.cjWrGu {
    grid-area: logo / logo / logo / logo;
    max-width: 20rem;
    width: 100%;
}

.bFkCVt {
    display: block;
    max-width: 8.0625rem;
    width: 100%;
}
.lcxmtj {
    color: rgb(255, 255, 255);
    width: 100%;
    vertical-align: middle;
}
.fIAkgN {
    grid-area: sponsors / sponsors / sponsors / sponsors;
    max-width: 20rem;
    width: 100%;
}
.cAHSrP {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.cNILtF {
    color: rgb(134, 151, 162);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 12px;
}
.hzkZxI {
    display: flex;
    margin-left: 0.75rem;
}
.dqlxGs {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: rgb(26, 33, 42);
    border-radius: 100%;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
}
.dqlxGs svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hzkZxI svg {
    display: block;
    width: 2rem;
}
.gKBLYb {
    font-size: 1.3rem;
    vertical-align: middle;
}
.jBPoYd {
    grid-area: main / main / main / main;
    max-width: 20rem;
    width: 100%;
}
.hDOeka {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.eckzt {
    display: none;
}
@media (min-width: 50em){
	.ldVpeu {
	    padding-bottom: 0px;
	}
	.eckzt {
	    display: block;
	    position: relative;
	    background-image: url(https://sports360.io/public/images/logo/banner.png);
	    background-size: cover;
	    background-position: center top;
	    background-repeat: no-repeat;
	}
}
.ldVpeu {
    display: block;
    margin-left: 0px;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.IXUbu {
    display: inline-block;
    list-style-type: none;
}
.evjtVb {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Averta Std", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.IXUbu::before {
    position: absolute;
    content: "​";
}
.bBovPm {
    position: relative;
    width: 100%;
    border: 1px solid transparent;
    padding: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    line-height: 0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(134, 151, 162);
    background-color: rgb(26, 33, 42);
}
.ehqKvB {
    vertical-align: middle;
    color: rgb(12, 214, 100);
}
.gLSupr {
    margin-top: 2rem;
    white-space: nowrap;
}
.diKavp {
    display: flex;
    color: rgb(255, 255, 255);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
}
.diKavp::before {
    margin-right: 1.5rem;
}
.diKavp::before, .diKavp::after {
    content: "";
    display: inline-block;
    width: 100%;
    flex: 0 1 auto;
    height: 1px;
    background-color: rgb(49, 55, 63);
    white-space: nowrap;
}
.eUJYKP {
    margin-top: 1.5rem;
}
.bwvtHp {
    width: auto;
}
.jVBjCW {
    border: 0px;
}
.cqsjax {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.fMcwwO {
    display: grid;
    gap: 1rem;
}
.fMcwwO {
    grid-template-columns: minmax(1px, 1fr);
}
.fMcwwO > li {
    list-style-type: none;
}
.fMcwwO > li::before {
    position: absolute;
    content: "​";
}
.gfoyzb {
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(134, 151, 162);
    font-size: 1rem;
}
.hMFjBq{
    /*width: 100%;*/
    max-width: 100%;
    padding: 0.5rem 1rem;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 33, 42);
    border: 1px solid rgb(49, 55, 63);
    border-radius: 0.75rem!important;
    transition: border-color 0.2s ease 0s;
    appearance: none!important;
}
.dfVTHf:hover:not(:focus):not([disabled]) {
    border-color: rgb(76, 81, 89);
}
.dfVTHf {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 1rem;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 33, 42);
    border: 1px solid rgb(49, 55, 63);
    border-radius: 0.75rem!important;
    transition: border-color 0.2s ease 0s;
    appearance: none!important;
}
.gxpIOt:hover, .gxpIOt:focus, .gxpIOt:active, .gxpIOt.active {
    color: rgb(255, 255, 255)!important;
}

.iMcJYU {
    position: relative;
}
.lgErke {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
}
.gxpIOt {
    display: inline-block;
    padding: 0px;
    font: inherit;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(134, 151, 162);
}
.iWtOZP {
    display: inline-block;
    width: 100%;
    min-height: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6.25rem;
    transition: background-color 0.2s ease 0s;
    white-space: nowrap;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 207, 97);
    font-size: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    padding: 0px 1.5rem;
}
.dAOyev {
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 0.5rem;
}
.iWtOZP.is-hover:not([disabled]), .iWtOZP:hover:not([disabled]) {
    background-color: rgb(24, 220, 109)!important;
}
.hIQBUp {
    grid-area: footer / footer / footer / footer;
    max-width: 20rem;
    width: 100%;
    align-self: end;
}
.dmytFS {
    display: block;
    text-align: center;
    margin-top: 0px;
}
.ePMdHW {
    display: inline-block;
    padding: 0px;
    font: inherit;
    color: rgb(12, 207, 97);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
}
.hnwyZi {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgb(134, 151, 162);
}
.bcDWLH {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 0.8fr;
    column-gap: 1rem;
}
.jiZCdt {
    display: inline-block;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    min-height: 1rem;
}
.fkwCQb {
    border: 0px;
    /*clip: rect(0px, 0px, 0px, 0px);*/
    /*clip-path: inset(50%);*/
    /*height: 1px;*/
    /*margin: -1px;*/
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    margin-top: 9px;
    /*width: 1px;*/
}
.fkwCQb + span {
    cursor: pointer;
}
.cFwIvG {
    display: inline-block;
    margin-left: 1.75rem;
    color: rgb(134, 151, 162);
}
/*.cFwIvG::before {
    background-color: rgb(76, 81, 89);
    border-radius: 50%;
    opacity: 0;
    transform: none;
    transition-property: background-color, transform, opacity;
    will-change: transform, opacity;
}
.cFwIvG::before, .cFwIvG::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.0625rem;
    left: 0px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}*/
.gXSVQx {
    display: inline-block;
    padding: 0px;
    font: inherit;
    color: rgb(12, 207, 97);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
}
.fCzvsf {
    margin-bottom: 0.5rem;
}

.fkwCQb + span::after {
    background-image: url(data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22auto%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2014%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%200c-.56%200-1.06.22-1.42.58L8%209.18l-4.58-4.6C3.06%204.22%202.56%204%202%204%20.9%204%200%204.9%200%206c0%20.56.22%201.06.58%201.42l6%206c.36.36.86.58%201.42.58.56%200%201.06-.22%201.42-.58l10-10c.36-.36.58-.86.58-1.42%200-1.1-.9-2-2-2z%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0px;
}
<style>
.cFwIvG::after {
    border: 0.125rem solid rgb(134, 151, 162);
    border-radius: 0.125rem;
    background-color: transparent;
    transition-property: border-color;
}
.hMFjBq:focus {
    border-color: rgb(12, 207, 97);
    outline: none;
}
.jNvcIW {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: 0.75rem;
    color: rgb(255, 78, 100);
}
.bBovPm:hover, .bBovPm:active {
    color: rgb(255, 255, 255);
}




